python-telegram-bot
sqlalchemy
pytesseract
pillow
requests
annotated-types
anyio
appdirs
atomicwrites
blis
catalogue
contourpy
confection
cloudpathlib
cell-executed-alert
cycler
cymem
#en_core_web_lg
#en_core_web_sm
exceptiongroup
fastapi
fonttools
fuzzywuzzy
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
h11
httpcore
httplib2
httpx
id
jlab-enhanced-cell-toolbar
jsonpointer
jupyterlab-autoscrollcelloutput
jupyterlab-cell-autorun-kernel-restart
jupyterlab-cell-flash
kiwisolver
langcodes
language_data
Levenshtein
marisa-trie
matplotlib
mkl-service
murmurhash
numpy
oauth2client
opencv-python
packaging
pandas
pdf2image
phonenumbers
preshed
proto-plus
protobuf
psycopg2
psycopg2-binary
pyasn1-modules
pydantic
pydantic_core
pyls-spyder
pyparsing
PyQt5
PyQtWebEngine
pyTelegramBotAPI
python-Levenshtein
pytz
RapidFuzz
rsa
setuptools
shellingham
six
sniffio
socksio
spacy
spacy-legacy
spacy-loggers
srsly
starlette
telebot
thinc
tk
typer
typing_extensions
tzdata
uritemplate
uvicorn
wasabi
weasel
wheel
